@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


// html,
// body {
//     height : 100%;
//     margin : 0;
//     padding: 0;
// }

body {
    // background : linear-gradient(45deg, #1CB5E0 0%, #199bbe 100%) no-repeat fixed;
    font-family: 'Poppins', sans-serif;
    // padding    : 2rem;
}

section {
    padding-top: 9em;
}

/* colors */
:root {
    --color-primary-1: #DB0316;
    --color-primary-1-dark: #A10210;
    --color-primary-2: #FE9EA6;
    --color-text-black: #343434;
    --color-text-gray: #707070;
    --color-text-white: #fff;
    --color-background: #F2F2F2;

}

/* links */
a:hover {
    color: var(--color-primary-1) !important;
}

/* typography */
h1 {
    color: var(--color-text-black);
    font-size: 72px;
    line-height: 80px;
    font-weight: 700;
    margin-bottom: 0;
    @media (max-width:990px) {
        font-size: 56px;
        font-size: 48px;
        line-height: 64px;
        text-align: center;
        margin-bottom: 28px;
        font-weight: 700;
    }
}

h2 {
    font-size: 56px;
    line-height: 64px;
    text-align: center;
    color: var(--color-text-black);
    margin-bottom: 28px;
    font-weight: 700;
    @media (max-width:990px) {
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
    }
}

h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;

}

p {
    color: var(--color-text-black);
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 0;
}


// footer
footer.text-muted {
    // background: var(--color-background);
    padding: 1.5em 1em 1em;
    text-align: center;
    margin-bottom: 0;
}
// end of footer


nav {
    box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.14);
    position: fixed;
    width: 100%;
    background: var(--color-text-white);

    button,
    .btn {
        background   : transparent;
        border       : 0;
        border-radius: 0;
        box-shadow   : none !important;
        font-size    : 1rem;
        outline      : none;
        padding      : 0.5rem 1rem;

        &:active,
        &:focus,
        &:hover {
            background: transparent;
        }
    }

    .btn.btn-active {
        background-color: #f4b700;
        text-decoration : underline;
    }
}

main {

    ul {
        list-style: none;
        padding   : 0;
        display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;


        li {
            background-color: var(--color-background);
            box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.14);
            color           : #fff;
            padding         : 2rem;
            margin-top: 2em;
            width: 45%;
            margin-right: 2em;
            @media (max-width: 991px) {
                width:95%
            }

            .box-name {
                font-size: 24px;
                line-height: 32px;
                font-weight: 700;
                margin-bottom: 7px;
            }
            
            .box-description {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
            }
            
            .box-price {
                font-weight: 600;
                margin: 16px 0;
                font-size: 20px;
                line-height: 32px;
                color: var(--color-text-gray);
            }

            .box-details {
                font-weight: 600;
                font-size: 16px;
                line-height: 24px;
                margin-bottom: 8px;
            }
            

            footer {
                display        : flex;
                align-items    : center;
                justify-content: flex-end;

                &>*+* {
                    margin-left: 1rem;
                }
            }

            button,
            .btn {
                background: #555;
                color: #fff;
                padding: 1em 2em;
                border-radius: 4px;
                &:hover {
                    color: pink;
                    box-shadow: 0 5px 13px 0 rgba(0, 0, 0, 0.14);
                }
            }
        }
    }


.box-dates-container {
    padding-bottom: 2em;
    .box-dates-header {
        padding-bottom: 1em;
    }
    
}


input[type='date'] {
    padding: 1em;
    border-radius: 6px;
    margin-right: 1em;
    font-size: 20px;
    color: #555;
    border: 1px solid #999;
}



    article {
        $bg-color-1: #fffcf2;
        $bg-color-2: #fff6dd;

        background: repeating-linear-gradient(45deg, $bg-color-1, $bg-color-1 10px, $bg-color-2 10px, $bg-color-2 20px);
        box-shadow: #00576e 0 2px 8px 2px;
        margin    : 2em 1em;
        padding   : 1rem;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            background: #ddc47d;
            color     : white;
            margin    : 0;
            padding   : 1rem 0.5rem;
        }
    }
}


// home.js
.hero-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90vh;    
    background: url(assets/home/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
        margin-bottom: 26px;
        text-align: center;
    }
}




/* text animation  */
.lineUp {
    animation: 4s anim-lineUp ease-out;
  }
  @keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
/* text animation  */

// end of home.js


